---
import type { Props } from '@astrojs/starlight/props';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import Search from '@astrojs/starlight/components/Search.astro';
import SocialIcons from './SocialIcons.astro';
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
---

<div class="header sl-flex">
	<div class="sl-hidden title-wrapper sl-flex">
		<SiteTitle />
	</div>
	<div class="sl-flex">
		<Search />
	</div>
	<div class="sl-hidden md:sl-flex right-group">
		<div class="sl-flex gap-6 mr-12">
			<a href="https://connectycube.com">Home</a>
			<a href="https://connectycube.com/features/">Features</a>
			<a href="https://connectycube.com/pricing/">Pricing</a>
			<a href="https://connectycube.com/contact/">Contact</a>
		</div>
		<div class="sl-flex social-icons">
			<SocialIcons {...Astro.props} />
		</div>
		<ThemeSelect />
		<LanguageSelect />
	</div>
</div>

<style>
	.header {
		gap: var(--sl-nav-gap);
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.title-wrapper {
		/* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
		overflow: hidden;
	}

	.gap-6 {
		gap: 1.5rem;
	}

	.mr-12 {
		margin-right: 3rem;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}

	a:hover {
		color: var(--sl-color-hover);
	}

	.right-group,
	.social-icons {
		gap: 1rem;
		align-items: center;
	}
	.social-icons::after {
		content: '';
		height: 2rem;
		border-inline-end: 1px solid var(--sl-color-gray-5);
	}

	@media (min-width: 50rem) {
		:global(:root[data-has-sidebar]) {
			--__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
		}
		:global(:root:not([data-has-toc])) {
			--__toc-width: 0rem;
		}
		.header {
			--__sidebar-width: max(
				0rem,
				var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x)
			);
			--__main-column-fr: calc(
				(
						100% + var(--__sidebar-pad, 0rem) -
							var(--__toc-width, var(--sl-sidebar-width)) -
							(2 * var(--__toc-width, var(--sl-nav-pad-x))) -
							var(--sl-content-inline-start, 0rem) - var(--sl-content-width)
					) / 2
			);
			display: grid;
			grid-template-columns:
        /* 1 (site title): runs up until the main content column’s left edge or the width of the title, whichever is the largest  */
				minmax(
					calc(
						var(--__sidebar-width) +
							max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))
					),
					auto
				)
				/* 2 (search box): all free space that is available. */
				1fr
				/* 3 (right items): use the space that these need. */
				auto;
			align-content: center;
		}
	}
</style>
