---
import Card from './MainFeatureCard.astro';
import type { MainFeatureCardType } from '../data/types';

const { data } = Astro.props;
---

<div class="card-grid">
	{data.map((card: MainFeatureCardType) => <Card {...card} />)}
</div>

<style>
	.card-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		padding-bottom: 3rem;
	}

	@media screen and (max-width: 768px) {
		.card-grid {
			grid-template-columns: 100%;
			padding-bottom: 2rem;
		}
	}
</style>
